<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ChatUI</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/app.js"></script>
</head>
<body>
<p id="test">Mööp</p>

<p th:text="'Hello, ' + ${username} + '!'"/>

<form name="logout-form" th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>

<br/>

<th:block th:each="message : ${messages}">
    <span th:text="${message.user}"></span>
    <span>:</span>
    <span th:text="${message.message}"></span>
    <hr/>
</th:block>

<form th:action="@{/}" method="post">
    <label>
        Message
        <input type="text" name="message"/>
    </label>
    <input type="submit"/>
</form>

</body>
</html>